/* HEADER STYLES */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 120px;
  height: auto;
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 1rem;
}

.profileInfo img {
  width: 50px;
  border-radius: 50%;
}

.profileInfo strong {
  background-color: rgba(226, 91, 136, 0.8);
  color: white;
  padding: 0 10px;
  border-radius: 12px;
  font-weight: 400;
}
