main {
  background-color: var(--bg-card);
  color: var(--txt-primary);
  text-align: center;

  border-radius: 12px;

  max-width: 1400px;
  margin: 0 auto;
  padding: 40px;

  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

h1 {
  font-size: 3rem;
  position: relative;
  display: inline-block;
  z-index: 2;
}

h1::before {
  content: "";
  background: var(--clr-secondary);
  position: absolute;
  left: -3%;
  bottom: 16px;
  height: 8px;
  width: 106%;
  z-index: -1;
  border-radius: 35px;
}

.content__title {
  font-size: 1.75rem;
  letter-spacing: 2px;

  margin: 10px 0;
}

.user__list,
.user__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.user__list li {
  font-size: 1.25rem;

  background-color: var(--clr-tertiary);
  color: var(--txt-secondary);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  padding: 6px 20px;
  border-radius: 12px;

  transition: all 150ms ease-in-out;
}

.user__list li:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.user__details {
  margin-top: 20px;
}

.user__details li {
  font-size: 1.25rem;

  background-color: var(--clr-secondary);
  color: var(--txt-primary);

  padding: 6px 20px;
  border-radius: 12px;
}
