/* GLOBAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

:root {
  --clr-primary: #62929e;
  --clr-secondary: #393d3f;
  --clr-tertiary: #dee2e6;

  --bg-card: #546a7b;

  --txt-primary: #fff;
  --txt-secondary: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  border: none;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: var(--txt-primary);
}

html {
  font-size: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--clr-primary);
}

.container {
  padding: 10px 20px 0 20px;
}
